/* Footer */
footer {
    width: 100%;
    background: url('../assets/images/footer-bg.jpeg') no-repeat center center;
    background-size: cover; /* Ensure the background image covers the entire footer */
    padding: 20px 0; /* Optional: Adjust the padding as needed */
}

/* Splash image */
footer #splashes {
    padding: 100px;
}
footer #splashes img{
    width: 300px;
}

/* Page Links */
footer .page_link {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* Social Icons */
footer .social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow icons to wrap onto multiple lines */
}
footer .social a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 40px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    border-radius: 50%; /* Ensure circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; /* Optional: Add margin for spacing between icons */
}

/* Background colors for each social icon */
footer .fa-linkedin {
    background-color: #035f97;
}

footer .fa-instagram {
    background-color: #656667;
}

footer .fa-twitter {
    background-color: #26defd;
}

footer .fa-yelp {
    background-color: #cc0b23;
}

footer .fa-facebook {
    background-color: #72b4fc;
}

footer .fa-youtube-play {
    background-color: #cc0b23;
}


/* Contact Information */
footer .county {
    font-weight: bold;
    display: inline-block;
}

footer .phone {
    display: block;
    text-decoration: underline;
}

footer .contacts div[class^="col"] {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Logo List */
footer #logos {
    list-style-type: none;
}