@import url(../css/root.css);

*{
    margin: 0;
    padding: 0;
    outline: none;
}

/* overwrite bootstrap css */
.modal-header .btn-close {
    margin: 0;
}
/* Header section start */
.btn-white{
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--main-button-color);
}
.btn-transparent{
    background-color: transparent;
    color: var(--main-button-color);
    border-radius: 20px;
    padding: 10px 20px;
    border:1px solid var(--main-button-color);
}
.btn-transparent:hover{
    background-color: var(--main-button-color);
    color: var(--white);
    border: 0;
}
.modal a{
    color: var(--main-button-color);
}
.nav-color{
    background-color: var(--main-color);
}
.navbar-nav, .navbar-brand, .nav-link, .nav-link.active{
    color: #fff!important;
}
.nav-link {
    font-size: 16px;
    font-weight: 600;
}

/* Header section finish */


/* Header responsive start*/
/* Navbar styles */
.dropdown-header {
font-weight: bold;
margin-bottom: 5px;
color: black;
font-size: 15px;
}

/* Wrap Text for dropdown iteams */ 
.dropdown-item {
font-weight: 500;
white-space: normal; /* Allow text to wrap */
word-wrap: break-word; /* Break long words to prevent overflow */
color: var(--main-button-color);
}

/* Change the hover on color to white | font weight */
.dropdown-item:hover {
    background-color:var(--white); /* Change background color to white on hover */
    font-weight: 600;
    color: var(--main-button-color);
}

/* Background color */
.navbar-nav div[class^="col"] {
padding-bottom: 20px;
}

/* Change Nav Bar to White */
.navbar-nav .dropdown-menu {
background-color: var(--white);
padding:20px;
margin: -2px;
}

/* Override fluid @mixin img-fluid max-width: 100%; */
.navbar-brand img {
max-width: 250px; /* Adjust the max-width as needed */
height: auto; /* Ensure the image maintains its aspect ratio */
}


/* Set the border color to transparent | set toggler icon to orange */
.navbar-toggler {
border-color: transparent;
}
.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ff9700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Set the arrow to disapear */
.nav-link.dropdown-toggle::after {
    display: none;
}

/* Show the dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Override Bootstrap's default margin */
}

/* Media queries for smaller screens */
@media (min-width: 1200px) {
    .navbar-nav .dropdown-menu {
        width: 80vw; /* 80% of the viewport width */
        transform: translateX(-60%); /* Center the dropdown */
        left:-60%;
    }
}

@media (max-width: 1199.99px) { 
    .nav-color{
        padding-bottom: 20px;

    }
    /* Define a class for the active state when the dropdown is shown */
    .navbar-nav .nav-link.active-dropdown {
        background-color: var(--white) !important;
        color: var(--main-color) !important;
        transition: none; /* Remove any transition effects */
    }

    /* Ensure there is no transition delay or effect for the nav-link */
    .navbar-nav .nav-link {
        transition: none !important;
        padding-top:16px;

}
}
@media (max-width: 1399.98px) { 
    .nav-color{
        padding-bottom: 20px;

    }
}

/* Register / Sign-in */
@media (max-width: 1199px) {
.signin-signup a {
    width: 90vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    }
}
/* transparent feature when window xl */
@media (min-width: 1200px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(38, 41, 61, 0.7); /* Navbar background color with opacity */
        z-index: 1000; /* Ensure the navbar is above other content */
    }
}
/* Header responsive finish */

/* Footer Start */
footer .county {
    font-weight: bold;
    display: inline-block;
}

footer .phone {
    display: block;
    text-decoration: underline;
}

footer .contacts div[class^="col"] {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Logo List */
footer #logos {
    list-style-type: none;
}

footer {
    width: 100%;
    background: url('../assets/images/footer-bg.jpeg') no-repeat center center;
    background-size: cover; /* Ensure the background image covers the entire footer */
    padding: 20px 0; /* Optional: Adjust the padding as needed */
}

/* Splash image */
footer #splashes {
    padding: 100px;
}
footer #splashes img{
    width: 300px;
}

/* Page Links */
footer .page_link {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* Social Icons */
footer .social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow icons to wrap onto multiple lines */
}
footer .social a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 40px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    border-radius: 50%; /* Ensure circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; /* Optional: Add margin for spacing between icons */
}

/* Background colors for each social icon */
footer .fa-linkedin {
    background-color: #035f97;
}

footer .fa-instagram {
    background-color: #656667;
}

footer .fa-twitter {
    background-color: #26defd;
}

footer .fa-yelp {
    background-color: #cc0b23;
}

footer .fa-facebook {
    background-color: #72b4fc;
}

footer .fa-youtube-play {
    background-color: #cc0b23;
}


/* Contact Information */
footer .county {
    font-weight: bold;
    display: inline-block;
}

footer .phone {
    display: block;
    text-decoration: underline;
}

footer .contacts div[class^="col"] {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Logo List */
footer #logos {
    list-style-type: none;
}
/* Footer End */


/* Swimming Lessons Part Start */
.swimmng-les-banner-part{
    background-image: url(../assets/images/which-lesson-is-best.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.swimmng-les-banner-part h1{
    font-family: Bodoni Moda;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    padding: 200px 0;
}

@media (max-width: 991.98px) {
    .swimmng-les-banner-part h1{
        font-size: 50px;
    }
}
@media (max-width: 575.98px) {
    .swimmng-les-banner-part h1{
        font-size: 30px;
    }
}
.swimming-les-main-header h2{
    font-family: Bodoni Moda;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
}
.swimming-les-main-content{
    font-family: open-sans-regular;
    font-size: 16px;
    font-weight: 400;
}
.swimming-les-main-content p a{
    text-decoration-color: var(--main-button-color);
    color: var(--main-button-color);
}

/* Swimming Lessons Part End */

/* Swimming Program part start */
.swimmng-pro-banner-part{
    background-image: url(../assets/images//summer-swim-camps.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swimmng-pro-banner-part h1{
    font-family: Bodoni Moda;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    padding: 200px 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991.98px) {
    .swimmng-pro-banner-part h1{
        font-size: 50px;
    }
}
@media (max-width: 575.98px) {
    .swimmng-pro-banner-part h1{
        font-size: 30px;
    }
}

.swimming-pro-main-header h2{
    font-family: Bodoni Moda;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
}
.swimming-pro-main-content{
    font-family: open-sans-regular;
    font-size: 16px;
    font-weight: 400;
}
.swimming-pro-main-content ul{
    list-style: none;
    padding-left: 0;
}
.swimming-pro-main-content ul li a{
    text-decoration-color: var(--main-button-color);
    color: var(--main-button-color);
}
/* Swimming Program part end */

/* Modal css start */
.modal-section{
    position: relative;
}
.modal-img{
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 1000;
    width: 90px;
}

.modal-dialog {
    top: 20%;
}

@media (max-width: 1440px) {
    .modal-img{
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: 1000;
        width: 90px;
    }
}
@media (max-width: 1024px) {
    .modal-img{
        position: absolute;
        top: 20%;
        left: 22%;
        z-index: 1000;
        width: 90px;
    }
}
@media (max-width: 768px) {
    .modal-img{
        position: absolute;
        top: 20%;
        left: 12%;
        z-index: 1000;
        width: 90px;
    }
}
@media (max-width: 575.98px) {
    .modal-img{
        display: none;
    }
}
/* Modal css end */


/* Awards-we-won start */
#awards-we-won img {
    width: 110px; /* Adjust the width as per your design */
    height: auto; /* Maintain aspect ratio */
    }
    #awards-we-won {
    text-align: center; /* Center align all content inside the awards-we-won container */
    margin-bottom: 10vw;
    }
    #awards-we-won h1{
        font-size: 3.8vw;
        font-family: Bodoni Moda;
        font-weight: bold;
        padding-bottom: 2vw;
        margin: 7vw auto;
    }

/* Awards-we-won end */


/* About Page CSS */
/* font size */
#about main h1{
    padding-top: 3vw;
    font-size: 4.5vw;
    font-family: Bodoni Moda;
    font-weight: bold;
    padding-bottom: 2vw;
}
#about main p{
    font-size: 2vw;
    padding-bottom: 2vw;
    color: var(--main-color);
    }
#about main a{
    font-size: 2vw;
    padding-top: 20vw;
}
#about main #about-us-hero h1{
    padding-top: 20vw;
    color: var(--white);
    }
#about main #about-our-philosophy h1,
#about main #about-we-do-a-pretty-good-job h1{
    color: var(--main-color);
    }

/* border limit */
#about main #about-our-philosophy div{
    margin: auto 100px;
    text-align: center;
}
#about main #about-we-do-a-pretty-good-job div{
    margin: auto 100px;
    text-align: center;
}


@media (min-width: 1200px){
    #about main p,
    #about main a{
        font-size: 1.3vw;
        }
    #about main #about-our-philosophy div{
        margin: auto 300px;
        text-align: center;
    }
    #about main #about-we-do-a-pretty-good-job div{
        margin: auto 300px;
        text-align: center;
    }
}

/* images setting */
#about #about-us-hero{
    background-image: url('../assets/images/about-us-hero.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: top center;
    background-size: cover;
    height:60vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
}
#about #about-our-philosophy{
    background-image: url('../assets/images/about-our-philosophy-bg.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: bottom center;
    background-size: cover;
    height:40vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
}
#about #about-we-do-a-pretty-good-job{
    background-image: url('../assets/images/about-we-do-a-pretty-good-job-bg.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: top center;
    background-size: cover;
    height:38vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
}
/* About Page CSS End */



/* Contact Page CSS */
/* font size */
#contact main h1{
padding-top: 12vw;
font-size: 4.5vw;
font-family: Bodoni Moda;
font-weight: bold;
padding-bottom: 2vw;
text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#contact main #about-us-hero h1{
    padding-top: 20vw;
    color: var(--white);
}

/* images setting */
#contact #contact-hero{
    background-image: url('../assets/images/contact-hero.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: top center;
    background-size: cover;
    height:40vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
}

/* contacts_icon */
#contact #contacts_icon p{
    padding: 10vw 3vw;
}
#contact #contacts_icon img {
width: 16vw; /* Adjust the width as per your design */
height: auto; /* Maintain aspect ratio */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a slight shadow */
margin: 1.5vw;
}
#contact #contacts_icon {
    text-align: top; /* Center align all content inside the awards-we-won container */
    margin-bottom: 10vw;
}
#contact .icon{
    display: inline-block;
    vertical-align: top;
}           
#contact .icon a{
    display: inline-block; /* Change display to inline-block */
    width: 100%; /* Make the <a> tag fill the width of its parent .icon */
    font-size: 1.5vw;
    text-align: center; /* Center align text within the link */
} 
#contact #contacts_icon .row{
    text-align: center;
}
#contact #contacts_icon p{
    text-align: center;
    font-size: 1.5vw;
    margin: auto 80px;
}
/* Contact Page CSS End */




/* Home Page CSS */
/* Define the font family */
#home main #home_slogan h1 {
    font-size: 4vw;
    font-family: Bodoni Moda;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#home .background-image {
    background-image: url('../assets/images/home.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: top center;
    background-size: contain;
    height:60vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
}
#home .btn-white{
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}
#home #home_button2 a{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    margin:1px;
    font-size: 15px;
}
#home #home_slogan{
    padding-top: 12vw;
    margin-bottom: 30px;
}

/* Media query for viewport width above 1440px */
@media (min-width: 373px) {
    #home .background-image {
        background-size: cover; /* Cover the background area */
    }
}
@media (max-width: 372px) {
    #home .background-image {
        background-size: contain; /* Cover the background area */
        margin-bottom: 0px;
    }
}

/*ads-banner*/
#home #ads-banner img{
    display: block;
    width: 80vw;
    margin: 2vw auto;
}

/*hands-on-teaching*/
/* button */
.btn-blue {
    background-color: var(--main-button-color);
    color: var(--main-color);
    border-radius: 5vw;
    padding: 1vw 2vw;
    color: var(--white);
    font-weight: bold;
}
/* general text and color define */
#home #hands-on-teaching{
    color: var(--main-color);
    text-align: left;
}
/* font size */
#home #hands-on-teaching h1{
    font-size: 3vw;
    font-family: Bodoni Moda;
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 2vw;
}
#home #hands-on-teaching h3{
    font-weight: bold;
}
#home #hands-on-teaching ul{
    padding-bottom: 2vw;
    text-align: left;
}
#home #hands-on-teaching ul a{
    color: var(--main-color);
}
#home #hands-on-teaching .register-now {
    text-align: center;
}

@media (max-width: 1199px) {
    #home #hands-on-teaching #words-container{
    width: 90vw;
    padding-left: 10vw;
    padding-top: 7vw;
    padding-bottom: 10vw;
    }
    #home #hands-on-teaching,
    #home #hands-on-teaching h3{
    font-size: 2.5vw;
    }
}
@media (min-width: 1200px) {
    #hands-on-teaching{
    background-image: url('../assets/images/home-hands-on-teaching.jpeg'); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-position: top center;
    background-size: 185%;
    height:60vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    color: var(--white); /* Text color against background */
    }
    #home #hands-on-teaching #words-container{
    width: 40vw;
    padding-left: 10vw;
    padding-top: 7vw;
    padding-bottom: 10vw;
    }
    #home #hands-on-teaching,
    #home #hands-on-teaching h3{
    font-size: 1vw;
    }
}

/* our-location */
#home #our-location {
    background-position: bottom center;
    background-size: cover;
    height:50vw;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
}
#home #our-location h1{
    font-size: 3vw;
    font-family: Bodoni Moda;
    font-weight: bold;
    padding-bottom: 2vw;
}
#home #our-location h3{
    font-family: Bodoni Moda;
    font-weight: bold;
    font-size: 2vw;
    padding-bottom: 2vw;
}
#home #our-location p{
    font-size: 1vw;
    padding-bottom: 2vw;
}

@media (min-width: 1200px) {
    #home #our-location {
    background-image: url('../assets/images/home-our-locations-bg.jpeg'); 
    position: relative;
    color: var(--white);
    }
    #home #words-container2{
    color: var(--white);
    width: 35vw;
    padding-left: 10vw;
    padding-top: 7vw;
    padding-bottom: 10vw;
    }
    #home #location-map img{
    width:40%;
    position: absolute;
    top: 0vw;
    right: 0vw;
    }
}
@media (max-width: 1199px) {
    #home #our-location {
    color: var(--white); 
    background-image: url('../assets/images/home-our-locations-bg.jpeg'); 
    }
    #home #words-container2{
    color: var(--white); 
    width: 90vw;
    margin: auto 5vw;
    padding-top: 10vw;
    
    }
    #home #location-map img {
    display: none;
    }
    /* font size */
    #home #our-location p{
    font-size: 2.5vw;
    }
    #home #our-location h3{
    font-size: 4vw;
    };
    #home #our-location h1{
    font-size: 3vw;
    }
}

/* Home Page CSS End */

/* Adult Page CSS */
/* Hero Image */
#adult-program .hero-image {
    position: relative;
    text-align: center;
    color: white;
}

#adult-program .hero-image img {
    width: 100%;
    height: auto;
}

#adult-program .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#adult-program a {
    color: var(--main-button-color);
}

#adult-program h3{
    font-family: Bodoni Moda;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
}

#adult-program h4{
    font-weight: bold;
    font-size: 20px;
}
#adult-program h2{
    font-size: 3vw;
    font-family: Bodoni Moda;
    color: var(--white);
    font-weight: bold;
    padding-bottom: 2vw;
}
/* Adult Page CSS End */